{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
    <div class="category-list-block">
        <a href="{% url 'admin:category_create' %}" class="btn new-category">
        Add category
        </a>
        <div class="categories-list">
        {% for object in objects %}
          <div class="category-record
            {% if not object.is_active %}
              not-active
            {% endif %}">
            <div class="category-name">
              {{ object.name|title }}
            </div>
              <div class="category-desc">
              {{ object.description|title }}
            </div>
            <div class="category-actions">
              <button>
                <a href={% url 'admin:products' object.pk %}>
                  Category's products
                </a>
              </button>
              <button>
                <a href={% url 'admin:category_update' object.pk %}>
                  Edit
                </a>
              </button>
              <button>
                <a href={% url 'admin:category_delete' object.pk %}>
                  Delete
                </a>
              </button>
            </div>
          </div>
        {% endfor%}
        </div>
    </div>
{% endblock %}