{% extends 'mainapp/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Каталог</title>
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/fonts/font-awesome/css/font-awesome.css">
</head>
<body>
	<div class="container">
        {% block menu %}
		<div class="hero-white">
			<div class="header clearfix">
                {% include 'mainapp/includes/inc_site_menu.html' %}
			</div>
		</div>
        {% endblock %}

        {% block content %}
		<div class="details">
			<div class="links clearfix">
                <ul class="links-menu">
                    {% for category in category_menu %}
                        <li>
                            <a href="{% url 'products:category' category.pk %}"
                                class="{% if request.resolver_match.kwargs.pk == category.pk %}
                                        active
                                      {% endif %}">
                                {{ category.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
			</div>

			<div class="related category">
				<div class="title clearfix">
					<h2>Все продукты из категории {{ category.name }}</h2>
					<a class="explore" href="#">показать все <img src="{% static 'img/arrow.png' %}" alt=""></a>
				</div>
				<div class="related-products clearfix">
                    {% for product in products %}
                        <div class="block">
                            <a href="{% url 'products:product' product.pk %}">
                                <img src="/media/{{ product.image }}" alt="">
                                <div class="text">
                                    <img src="{% static 'img/icon-hover.png' %}" alt="img">
                                    <h5>{{ product.category.name }}</h5>
                                    <h4>{{ product.name }}</h4>
                                    <p>{{ product.description }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
				</div>
			</div>
		</div>
        {% endblock %}
	</div>
</body>
</html>