{% extends 'mainapp/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Каталог</title>
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/fonts/font-awesome/css/font-awesome.css">
</head>
<body>
	<div class="container">
        {% block menu %}
		<div class="hero-white">
			<div class="header clearfix">
                {% include 'mainapp/includes/inc_site_menu.html' %}
			</div>
		</div>
        {% endblock %}

        {% block content %}
		<div class="details">
			<div class="links clearfix">
                <ul class="links-menu">
                    {% for category in category_menu %}
                        <li>
                            <a href="{% url 'products:category' category.pk %}"
                                class="{% if request.resolver_match.url_name == category.pk %}
                                        active
                                      {% endif %}">
                                {{ category.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
			</div>

            <h1>Today's Best deal</h1>

			<div class="details-products">
				<div class="details-slider">
					<div class="slider-product">
                        <img src="{{ hot_product.image.url }}">
					</div>
					<div class="slider-control">
						<div class="block">
							<a href="#"><img src="{% static 'img/controll.jpg' %}" alt="">
								<div class="text"></div>
							</a>
						</div>
						<div class="block">
							<a href="#"><img src="{% static 'img/controll1.jpg' %}" alt="">
								<div class="text"></div>
							</a>
						</div>
						<div class="block">
							<a href="#"><img src="{% static 'img/controll2.jpg' %}" alt="">
								<div class="text"></div>
							</a>
						</div>
					</div>
				</div>

				<div class="description">
					<h3 class="big-bold">{{ hot_product.name }}</h3>
					<h3 class="red">{{ hot_product.short_desc }}</h3>
					<p class="price">{{ hot_product.price }}<span>руб</span></p>
					<a href="{% url 'basket:add' hot_product.pk %}" class="red-button">
						заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
					</a>
					<div class="description-text">
						{{ hot_product.description }}
					</div>
				</div>
			</div>

            {% if similar_products %}
			<div class="related">
				<div class="title clearfix">
					<h2>Похожие продукты</h2>
					<a class="explore" href="#">показать все <img src="{% static 'img/arrow.png' %}" alt=""></a>
				</div>
				<div class="related-products clearfix">

                    {% for product in similar_products %}
                        <div class="block">
                            <a href="{% url 'products:product' product.pk %}">
                                <img src="/media/{{ product.image }}" alt="">
                                <div class="text">
                                    <img src="{% static 'img/icon-hover.png' %}" alt="img">
                                    <h5>{{ product.category.name }}</h5>
                                    <h4>{{ product.name }}</h4>
                                    <p>{{ product.description }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
				</div>
			</div>
            {% endif %}
		</div>
        {% endblock %}
	</div>
</body>
</html>